{% extends "BuntsuuMainBundle:Member:layout.html.twig" %}

{%block  principal_content %}

<h2 id="title_page"> Home </h2><img id="mini" src="{{ asset('bundles/buntsuumain/images/home.png') }}" alt="home"/>
<div class="clear"></div>
<img src="{{ asset('bundles/buntsuumain/images/next.png') }}" alt="next" id="next_article" class="action" />
<img src="{{ asset('bundles/buntsuumain/images/previous.png') }}" alt="previous" id="previous_article" class="action" />
<div class="clear"></div>
<div id="content_first" ">
	<h2>News</h2>
	<div id="article" class="{{ article.id }}">
		{{ article.message }}
		<br/><br/>
		<div style="text-align:right; font-size:10px; color:grey;">{{ article.date |date('l jS F Y h:i:s A') }}</div>
	</div>
</div>
<div id="content_second">
	<h2>Suggestions</h2>
	<div id=""></div>
{% if preference is empty %}
<h3></h3>
Do you want to see your suggestions ?! So come on and complete your preferences HERE now  ^^ ! 

{%  endif %}
</div>
<div class="clear"></div>


<script type="text/javascript">
		
	/* CHANGEMENT D'ARTICLE AU CLIQUE SUR UNE FLECHE */
	$(".action").click(function(){
    id = $("#article").attr('class');
    action = $(this).attr('alt');
       	 var DATA ='id='+id+'&action='+action;
		 $.ajax({
		        type: "POST",
		        url:"{{ path('member_index')}}",
		        data: DATA,
		        cache: false,
		        success: function(data)
		        {
					$("#content_first").html(data);
		        }
		  });
    	});

	/* CHANGEMENT D'IMAGE AU SURVOL */
	$("#next_article").hover(function(){
		$("#next_article").attr('src','{{ asset("bundles/buntsuumain/images/next_white.png") }}');
		},
		function () {
		$("#next_article").attr('src','{{ asset("bundles/buntsuumain/images/next.png") }}'); 
	});

	$("#previous_article").hover(function(){
		$("#previous_article").attr('src','{{ asset("bundles/buntsuumain/images/previous_white.png") }}');
		},
		function () {
		$("#previous_article").attr('src','{{ asset("bundles/buntsuumain/images/previous.png") }}'); 
	});
	
</script>

{% endblock %}