{% extends "BuntsuuMainBundle:Member:layout.html.twig" %}

{%block  principal_content %}

<h2 id="title_page"> Home </h2><img id="mini" src="{{ asset('bundles/buntsuumain/images/home.png') }}" alt="home"/>
<div class="clear"></div>
<button id="previous_article" class="action submit_special submit_yellow">Previous</button>
<button id="next_article" class="action submit_special  submit_yellow">Next</button>

<div class="clear"></div>
<div id="content_first" ">
	<h2>News</h2>
	<div id="article" class="{{ article.id }}">
		{{ article.message }}
		<br/><br/>
		<div style="text-align:right; font-size:10px; color:grey;">{{ article.date |date('l jS F Y h:i:s A') }}</div>
	</div>
</div>
<div id="content_second">
	<h2>Suggestions</h2>	
{% if preferences is empty  %}
<div id=""></div>
{% else %}
	{%  for user in tUsers  %}
		{%  if loop.index < 5 %}
			<div class="user_case_{% if user.gender == null  %}male{% else %}female{% endif %}">
				<a href="{{ path('member_profile_target',{'target':user.username}) }}">{{ user.username | slice(0,4) }}{% if user.username | length  > 4 %}...{% endif %}</a>
			</div>
		{% endif %}
	{% endfor %}
{%  endif %}
</div>
<div class="clear"></div>


<script type="text/javascript">
		
	/* CHANGEMENT D'ARTICLE AU CLIQUE SUR UNE FLECHE */
	$(".action").click(function(){
    id = $("#article").attr('class');
    action = $(this).html();
       	 var DATA ='id='+id+'&action='+action;
		 $.ajax({
		        type: "POST",
		        url:"{{ path('member_index')}}",
		        data: DATA,
		        cache: false,
		        success: function(data)
		        {
					$("#content_first").html(data);
		        }
		  });
    	});

</script>

{% endblock %}