{% extends "BuntsuuMainBundle:Member:layout.html.twig" %}

{%block  principal_content %}

<h2 id="title_page"> Search </h2><img id="mini" src="{{ asset('bundles/buntsuumain/images/search.png') }}" alt="search"/>
<div class="clear"></div>
<h3>Precise</h3>
{%  for user in pUsers %}
<div class="user_case_{% if user.gender == null  %}male{% else %}female{% endif %}">
	<a href="{{ path('member_profile_target',{'target':user.username}) }}">{{ user.username | slice(0,4) }}{% if user.username | length  > 4 %}...{% endif %}</a>
</div>
{% endfor %}
<div class="clear"></div>
<h3>Balanced</h3>
{%  for user in sUsers %}
<div class="user_case_{% if user.gender == null  %}male{% else %}female{% endif %}">
	<a href="{{ path('member_profile_target',{'target':user.username}) }}">{{ user.username | slice(0,4) }}{% if user.username | length  > 4 %}...{% endif %}</a>
</div>
{% endfor %}
<div class="clear"></div>
<h3>Large</h3>
{%  for user in tUsers %}
<div class="user_case_{% if user.gender == null  %}male{% else %}female{% endif %}">
	<a href="{{ path('member_profile_target',{'target':user.username}) }}">{{ user.username | slice(0,4) }}{% if user.username | length  > 4 %}...{% endif %}</a>
</div>

{% endfor %}
<div class="clear"></div>
<h3>Very Large</h3>





{% endblock %}